# Node modules directory
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Directory for environment variables
.env

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.ncb
*.sln
*.sw?
*.dbmdl

# macOS
.DS_Store

# Windows
Thumbs.db